.alert {
  padding: 15px;
  text-align: center;
  background-color: rgb(209, 90, 90);
  max-width: 500px;
  border-radius: 10px;
  margin: 0 auto;
  color: white;
  animation: fade-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}